* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #2f2f2f;
}
main {
  padding: 10px 64px 24px;
  width: 68%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}
main > h1 {
  font-size: 36px;
  line-height: 36px;
}
main > p {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 12px;
}
#container {
  width: 100%;
  height: 85%;
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 8px 1px #00000050;
  cursor: pointer;
  transition: all ease-in-out 350ms;
}
.card:hover {
  transform: scale(105%);
  z-index: 1;
}
.card > img {
  background: #f2f2f2;
  object-fit: contain;
  max-height: 90px;
}
.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
  gap: 8px;
}
.row {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row > h1 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
.row > h2 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #323232;
}
.types {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  flex: 1;
}
.type {
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  line-height: 12px;
  padding: 2px 12px;
  border-radius: 99px;
}
#row2 {
  margin-top: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
button {
  width: fit-content;
  height: fit-content;
  background: #2b2929;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 6px 24px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  transition: all ease-in-out 350ms;
}
button:hover {
  filter: brightness(175%);
}
button:disabled {
  opacity: 0.5;
  cursor: no-drop;
  filter: brightness(100%);
}
#tab {
  width: 40%;
  height: fit-content;
  padding: 56px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 14px;

  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px 2px #00000060;
}
#row3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
#row3 > h1 {
  font-size: 32px;
  line-height: 32px;
}
#row3 > span {
  font-size: 24px;
  line-height: 24px;
  color: #323232;
}
#row3 > img {
  background: #f2f2f2;
  border-radius: 10px;
  height: 215px;
  object-fit: cover;
  image-rendering: pixelated;
}
#tab > button {
  width: 44px;
  height: 44px;
  padding: 0;
  background: none;
  color: black;
  font-size: 26px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: none;
}
#column2 {
  padding: 10px 16px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #30a7d7;
  color: white;
  justify-items: center;
  row-gap: 4px;
  column-gap: 22px;
}
#column2 > h1 {
  font-size: 18px;
  line-height: 18px;
}
#column > span {
  font-size: 14px;
  line-height: 14px;
}
.invisible {
  visibility: hidden;
  pointer-events: none;
}
#column3 {
  display: flex;
  flex-direction: column;
}
#column3 > h1 {
  font-size: 20px;
  line-height: 20px;
  margin-block: 12px 6px;
}
#column3 > .types > span {
  padding: 3px 16px;
  font-size: 14px;
}
#column4 {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#column4 > h1 {
  font-size: 24px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}
#abilities {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.ability {
  background: #30a7d7;
  padding: 8px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  line-height: 14px;
}
#stats {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 8px;
}
.column5 {
  padding: 10px;
  background: #2b2929;
  color: white;
  border-radius: 4px;
  flex: 1;
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.column5 > h1 {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}
.column5 > span {
  font-size: 16px;
  line-height: 16px;
}
